body {
  background-color: rgb(93, 115, 126);
}
    h1 {
    font-family: "Gotham";
    color: white;
    font-size: 60px;
    margin-left: 170px;
    margin-bottom: 10px;
    }

    h2 {
    font-family: "Gotham";
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 170px;
    }

    p{
    font-family: "Gotham";
    color: white;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 170px;
    margin-bottom: 100px;
    }

    .a:hover {
        fill:rgb(166, 255, 0);
    }

    .b:hover {
        fill:rgb(204, 0, 255);
    }

    .c:hover {
        fill:rgb(255, 60, 0);
    }

    .d:hover {
        fill:rgb(0, 255, 128);
    }

    .e:hover {
        fill:rgb(255, 234, 0);
    }

    .f:hover {
        fill:rgb(0, 68, 255);
    }

    .g:hover {
        fill:rgb(255, 123, 0);
    }

    .h:hover {
        fill:rgb(0, 255, 255);
    }
